.menuitem{
    height: 250px;
    width: 200px;
    background-color: rgb(214, 218, 214);
    position: relative;
    margin:10px;
}

.menutitem-animate:hover  {      
    opacity: 0.8;  
    transition: 1s;
}

.menuitem-image{
    background-image: url('../../assets/image/photo-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;   
}
.menutitem-animate{
    height: 100%;
    width: 100%;   
    position: absolute; 
    bottom:0;    
    opacity: 0;
}
.menutitem-animate-transparent{
    height: 50%;
    width: 100%;
    opacity: 0;
}
.menutitem-animate-description{
    height: 50%;
    width: 100%;
    background-color: rgb(16, 17, 16);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white

}

.title{
    font-size: 2rem;       
}
.descrition{
    font-size: 1.6rem;
    margin:  0 30px;
    opacity: 0.9;
    overflow-wrap: break-word;
}


.button{
    border:none;
    background-color:rgb(254, 77, 0);
    height: 50px;
    width: 100px;  
    color: white;
    opacity: 0.9;
    border-radius: 5px;
}

.flex{
    display: flex;
    justify-content: space-around;
}
.border-bottom{
    border-bottom: solid grey;
    margin:  0 12px 0 12px;

}


.menuitem {
  align-self:stretch;
}

.sectionMenu{
    display: flex;
    flex-direction: column;
}

.sectionMenuNav{
    display: flex;
    justify-content: space-around;


}

.sectionMenuDisplayFliter{
    display: flex;    
    flex-wrap: wrap;    
    width: 70%;
}
