

.sectionMenus{
    
    background-image: url('../../assets/image/BackgroundMenu.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    height: 1697px;  
    width: auto; 
    display:flex;
    flex-direction: column;
   
}
.sectionMenuHeader{
    height: 50%;
    width: auto;
    display:flex;
    justify-content: center;
}

.sectionMenuCarte{
    display:flex;
    height: 35%;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y:scroll;   

}


.sectionMenuHeaderCenter{    
    height: auto;
    width: 80%;
    margin: 60px 0;
    opacity: 0.7;
    background-image: url('../../assets/image/TitreMenu.png');
    background-repeat: no-repeat;    
    background-size: contain;
    background-position: center;
}



.sectionMenuFooter{
    background-color: goldenrod;    
    height: 5%;
}

.sectionMenusCarteMenu ul{
    display:flex;
    justify-content: space-around;
}

li{
    border-color: rgb(229, 110, 45);
    border-style: solid;
    border-width: 2px;
    max-height: 150px;
    max-width: 350px;    
    color: honeydew;  
    padding: 5px 10px;
    border-radius: 5px;

}
ul{
    margin: 0 0 35px 0;
}



