ul{
    display: flex;
    justify-content: space-around;
    background: url("../../assets/image/plain_background.png") no-repeat center center/cover;

}
li{
    background-color: tomato;
    height: 50px; 
    width: 100px;   
    border-radius: 20px;
    text-align: center;    
    font-size: x-large;
    font-weight: bolder;
}


    
