.addressTitle {
  font-weight: bold;
  font-size: 1.5em;
  // border-bottom: 1px solid black;
  width: 150px;
  margin: 0.8em auto;
  padding: 0.2em 0;
  text-align: center;
}

.addressTitleTime {
  font-weight: bold;
  font-size: 1.5em;
  // border-bottom: 1px solid black;
  width: 150px;
  margin: 0.8em auto;
  padding: 0.2em 0;
  text-align: center;
}

.address {
  text-align: center;
}

.footer{
  min-height: 200px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.icone {
  font-size: 2.5em;
  margin: 0 0.4em;
  color: black;

}

.map {
  margin: 1em auto;
  height: 200px;
  width: 300px;
}

.info {
  margin: 0.5em 0;
  .address {
    margin: 0;
  }
}


@media only screen and (min-width: 768px) {
  .icones { align-self: center; };
  .footer{ flex-direction: row; };
  .footer{ justify-content: space-around; };
  // .footer { border-top: 1px solid grey; };
  .footer { box-shadow: 0px -2px 0px };
  .footer { width: 900px; };
  .footer { margin: 2.5em auto; };
  .addressTitle { align-self: center; };
  .addressTitle { padding: 0 0 0 0; };
  .addressTitleTime { padding: 0 0 0 0; };
  .addressTitleTime { margin-bottom: 1.2em; };
  .time { margin-bottom: 4em; };
  .info { align-self: center; };
  .divTime { margin-bottom: 1em; }
 }
